body {
  margin: 0;
  
  font-family: "Lucida Console", Monaco, monospace; 
  background: linear-gradient(
    to right,
    rgb(1, 19, 146), 
    rgb(82, 173, 159) 100% );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}
